body {
  font-family: sans-serif;
  background: #f5f5f5;
  color: #943bbd;
}

nav hr {
  width: 105px;
  height: 10px;
  background: #943bbd;
}

img {
  border-radius: 15px;
}

p {
  margin: 0;
}

h1,
.price {
  font-family: 'Lemon',
    cursive;
}

h2,
p {
  font-family: 'Lemonada',
    cursive;
}

a {
  text-decoration: none;
  color: #b367d7;
}

a:hover {
  color: #943bbd;
  text-decoration: underline;
}


.item-indicator {
  position: absolute;
  top: 65px;
  right: 50px;
  color: cornflowerblue;
}

.product {
  padding: 60px 160px;
}

.img-container img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.similar-products img {
  width: 100px;
  height: 100px;
  min-width: 80px;
  min-height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.banner,
.active,
.cart,
.fa-minus,
.fa-plus {
  background: #b367d7;
  color: white;
}

.product,
.item-count {
  background: #ecdff2;
}

.product .name {
  color: #b367d7;
}

.price {
  font-size: 36px;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 10px;
}

.name,
.description {
  line-height: 2;
}

.description {
  margin-top: 35px;
  font-size: 16px;
}

.name,
.description {
  display: block;
}

.cart:hover,
.fa-minus:hover,
.fa-plus:hover {
  transition: ease-in 200ms;
  background-color: #943bbd;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cart p {
    font-size: 14px;
  }

  .price {
    font-size: 28px;
  }

  .product {
    padding: 60px;
  }
}